.index-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(121, 87, 213, 0.15)
    ),
    url("./assets/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(0deg, #00000088 30%);
}

.navbar.has-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02), 0 5px 22px -6px rgba(0, 0, 0, 0.1),
    0 -12px 35px -19px rgba(0, 0, 0, 0.01);
}
